@charset "UTF-8";

#header {
  background-color: #2AD535; /* 例：赤色 */
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0; /* 重なり順序 */
   text-align: center;	
}

header img {
  display: inline-block;
}

span{
 margin-left: 250px;
}

.osirase {
  margin-top: 130px;
  font-size: 20px;
}

.img1 {
  width: 350px;
}

.img2{
  width: 300px;
}

.img3{
  margin-left :300px;	
  width: 160px;
}
div span{
	margin-left: 50px;
	margin-bottom: 50px;
}